<html lang="en">
    <head>
        <title>Add reading</title>
    </head>
    <body>
        <form method="post" action="">
            <div>
                <label for="isbn">ISBN:</label>
                <input type="text" name="isbn" required>
            </div>
            <div>
                <label for="author">Author:</label>
                <input type="text" name="author" required>
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" required>
            </div>
            <div>
                <label for="completed">Completed:</label>
                <input type="text" name="completed" required>
            </div>
            <div>
                <label for="rating">Rating:</label>
                <input type="text" name="rating" required>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
