@main("Add reading") {
    <body>
        <div class=".container">
            <form method="post" action="">
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" id="isbn" name="isbn" required class="form-control" />
                    <button id="lookup" class="btn btn-primary">Look up</button>
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" id="author" name="author" required class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" required class="form-control" />
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <script>
            const lookUpButton = document.getElementById('lookup');
            lookUpButton.onclick = lookUp;
            function lookUp() {
                const isbn = document.getElementById('isbn').value;
                const xhr = new XMLHttpRequest();
                xhr.open('get', 'lookup?isbn=' + isbn);
                xhr.send();
                xhr.onload = function() {
                    let data = JSON.parse(xhr.responseText);
                    document.getElementById('author').value = data.author.value;
                    document.getElementById('title').value = data.title.value;
                };
            }
        </script>
}
