@(readings: Seq[model.Reading])

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Readings</title>
  </head>
  <body>
    <table>
    @for(reading <- readings) {
      <tr>
        <td>@reading.book.author</td>
        <td>@reading.book.title</td>
        <td>@reading.completed</td>
        <td>@reading.rating</td>
      </tr>
    }
    </table>
  </body>
</html>
