name: CI

on:
  push:
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:

      - uses: actions/checkout@v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

#      - name: Run TypeScript build
#        run: npm run build
#
#      - name: Run tests
#        run: npm test
